<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<link rel="icon" type="image/ico" href="favicon.ico"> -->
    <link type='text/css' rel='stylesheet' href='/assets/main.css' />
    <title>{{{title}}}</title>
</head>
<body>
    <div id="app">{{{body}}}</div>
    <script>
       window.__STATE__ = {{{state}}}
    </script>
	<script src="/assets/vendors.js"></script>    
    <script type="application/json" src="/assets/vendors.js.map"></script>  
    <script src="/assets/app.js"></script>
    <script type="application/json" src="/assets/app.js.map"></script>  
</body>
</html>