@import './fonts.css';
@import './normalize.css';

$flat-color: #030303;
$background-color: #d4d4d4;

@font-face {
	font-weight: normal;
	font-style: normal;
}

body {
    color: $flat-color;
    background-color: $background-color;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.0625em/1.47;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Progressive Enhancement Approach */
/* Default styles are for max-width: 400px */
.root {
    margin: 0;
    padding: 0;
}
.nav-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-content: center;
    align-items: center;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;    

    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;

    background: $background-color;
    background: -webkit-linear-gradient(rgba(255,0,0,0), rgba(212,212,212,1), rgba(212,212,212,1));
    background: -o-linear-gradient(rgba(255,0,0,0), rgba(212,212,212,1), rgba(212,212,212,1));
    background: -moz-linear-gradient(rgba(255,0,0,0), rgba(212,212,212,1), rgba(212,212,212,1));
    background: linear-gradient(rgba(255,0,0,0), rgba(212,212,212,1), rgba(212,212,212,1));
}
.nav-item {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    background-color: red;
}
.content {
    padding: 0.5em;
    margin-bottom: 40px;
}
.identity {
    font-size: 0.7em;
    text-align: right;
    padding: 0.5em;
}

@media (min-width: 640px) and (max-width: 799px) {
    .nav-container {
        height: 60px;
    }
    .nav-item {
        width: 35px;
        height: 35px;
        margin-top: 35px;
        background-color: red;        
    }
}